<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuckim.junit.repository.postgresql.ProductMapper">
    <insert id="insertProduct" parameterType="com.nuckim.junit.entity.Product" useGeneratedKeys="true" keyColumn="product_id" keyProperty="productId">
        INSERT INTO product(product_name, price, sale_price)
        VALUES (#{productName}
                , #{price}
                , #{salePrice})
    </insert>
</mapper>